:root {
    --lcb-width: 25%;
    --lcb-height: 33%;
  }

h1 {
    background-color: sandybrown;
}

#header{
    background-color: white;
}

.login-controls-box {
    top: calc(50% - var(--lcb-width)/2);
    left: calc(50% - var(--lcb-height)/2);
    display: block;
    position: absolute;
    width: var(--lcb-width);
    height: var(--lcb-height);
}